@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Cinzel:wght@400..900&family=Handlee&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100%;
  height: 10vh;
  background-color: #e4be9e;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo span {
  font-family: 'Cedarville Cursive', sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #71697a;
}

ul.links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  width: 300px;
}

ul.links li span {
  font-family: 'Cinzel', sans-serif;
  font-weight: 500;
  color: #f2f6d0;
}

main {
  width: 80%;
  height: 80vh;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

main .left {
  position: relative;
  width: 50%;
  height: 100%;
}

main .left .image {
  position: absolute;
  top: 100px;
  left: 100px;
}

main .left .image img {
  width: 100%;
  height: 100%;
}

main .left .box_1 {
  position: absolute;
  top: 140px;
  left: 55px;
  width: 65%;
  height: 500px;
  z-index: -1;
  background-color: #71697a;
}

main .left .box_2 {
  position: absolute;
  top: 170px;
  left: 25px;
  width: 65%;
  height: 500px;
  z-index: -2;
  background-color: #d0e1d4;
}

main .right {
}

footer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0e1d4;
}
